version: "3.8"

services:
  db:
    image: postgres:17
    restart: always
    ports:
      - ${DB_PORT}:5432
    expose:
      - ${DB_PORT}
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
      - DB_PORT=${DB_PORT}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 15s
      timeout: 5s
      retries: 10
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - network

volumes:
  db-data:

networks:
  network:
    driver: bridge
